*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --color_background: #1b4a5d;
    --color_top_blue: #141f28;
    --color_card_background: #19292C;
    --color_card_image_background: #dae9eb;
    --color_button_background: #0b2631;
    --color_button_text: white;
    /*--color_message: #FFC300; #4a8a95*/
}

header{
    text-align: center;
    border:none;
    padding: 30px;
    background: var(--color_top_blue);
    color: white;
}
body{
    background-color: var(--color_background);
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-align: center;
}
main{
    margin-top: 60px;
}
#user-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
}
.card{
    width: 260px;
    background-color: var(--color_card_image_background);
    margin: 20px;
    /*border-radius: 4.5em 0.5em 0.5em 0.5em;*/
    border-radius: 0.5em;
    text-align: end;
}
.card:hover{
    transform: scale(1.01); /* Increase 1% size when activered*/
}
.card-header{
    padding: 0.5em;
}
.card-body{
    color: white;
    border-radius: 0em 0em 0.5em 0.5em;
    background-color: var(--color_card_background);
    padding: 1em;
    font-size: 12px;
}

.my-button{
    background-color: var(--color_button_background);
    color: var(--color_button_text);
    border: none;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;

}
.my-button:active{
    transform: scale(0.90); /* Reduce 10% size when activered*/
}
img{
    border-radius: 50%;
}
