/*Hoja de estilo personalizada*/
/* CSS: cascading style sheet */
/*Selector de etiqueta*/
body {
    background-color: #6A686D;
    color: #FCA289;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    text-align:left;

}
footer{
    
    color: #F9F871;
    text-align: end;
}